<p>
  <strong>TITLE:</strong>
  <%= @notification.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @notification.text %>
</p>
<p>
  <strong>Domain:</strong>
  <%= @notification.domain %>
</p>
<p>
  <strong>Status:</strong>
  <%= @notification.status %>
</p>

<%= link_to 'Back', user_path %>