<h1>Submit Challenge</h1>
  <p>
    <%= @challenge.title %>
  </p>
  <p>
    <%=@challenge.question %>
  </p>
  <p>
    <%=@challenge.qtype%>
  </p>
  <p>
  <%=  @challenge.level%>    
  </p>
  <%= form_for :answer , url: answers_path do |f| %>  <p>
    <%= f.label :Answer  %><br>
    <%= f.text_area :ans %>
  </p>
  <%= f.hidden_field :challenge_id, :value => @challenge.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
