<p>
  <strong>TITLE:</strong>
  <%= @challenge.title %>
</p>
<p>
  <strong>Question:</strong>
  <%= @challenge.question %>
</p>
<p>
  <strong>TYPE:</strong>
  <%= @challenge.qtype %>
</p>
<p>
  <strong>LEVEL:</strong>
  <%= @challenge.level %>
</p>
<%= link_to 'Back', admin_path %>